dt {
  color: #747475;
  margin-bottom: 0.2rem;
  font-size: 0.8rem;
}

dd {
  margin: 0;
}

dd:after {
  content: '';
  display: block;
  height: 1px;
  background: #ddd;
  margin: 0.8rem 0.2rem;
}

.dark dd:after {
  background: #505050;
}
