.root {
  user-select: none;
  font-size: 2.6rem;
  position: absolute;
  width: var(--base-width);
  height: var(--base-width);
  overflow: hidden;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  cursor: pointer;
}

.Sun,
.Moon {
  position: absolute;
  top: 0;
  bottom: 0;
  transition: all 0.4s linear;
  opacity: 0;
  transform: translateX(-50%) rotate(0);
}

.day .Sun {
  transform: translateX(-50%);
  opacity: 1;
}

.day .Moon {
  transform: translateX(-50%) rotate(90deg);
}

.night .Sun {
  transform: translateX(-50%) rotate(-90deg);
}

.night .Moon {
  transform: translateX(-50%);
  opacity: 1;
}
