.links {
  display: flex;
  align-items: center;
}

.handle {
  flex: 0;
}

.link {
  flex: 1 1 auto;
  text-align: center;
  transition: all var(--transition-options);
}

.link svg {
  height: 14px;
  opacity: 0.5;
}
.link path {
  fill: var(--text);
  transition: fill var(--transition-options);
}
.link:hover,
.link:focus {
  transform: translateY(-2px);
}
.link:hover svg,
.link:focus {
  opacity: 0.8;
}
