.links {
  display: flex;
  align-items: center;
}

.handle {
  flex: 0;
}

.link {
  flex: 1;
  text-align: center;
  transition: all var(--transition-options);
  opacity: 0.5;
}

.link svg {
  height: 14px;
}
.link path {
  fill: var(--text);
}
.link:hover,
.link:focus {
  transform: translateY(-2px);
  opacity: 1;
}

.link:hover path {
  fill: var(--link-hover);
}
