.App {
  height: 100%;
  box-sizing: border-box;
  padding-top: 2rem;
}

.App-container {
  width: 300px;
  margin: auto;
  position: relative;
}

.App-theme {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
