.Links {
  display: flex;
}

.Links-handle {
  flex: 1;
}

.Links-link {
  transition: all 0.2s ease-in;
}

.Links-link + .Links-link {
  margin-left: 0.4rem;
}

.Links-link svg {
  height: 14px;
  opacity: 0.5;
}

.Links-link path {
  fill: var(--text);
}

.Links-link:hover svg {
  opacity: 0.8;
}
