.ProfileImage {
  width: 300px;
  height: 300px;
}

.ProfileImage-caption {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #ffffff;
  font-size: 1.6rem;
}

.dark .ProfileImage img {
  filter: brightness(0.75);
}
