.root {
  position: relative;
  /* ./assets/squircle.svg */
  clip-path: path(
    'M150 300c65.7 0 102.3 0 126.1-23.9C300 252.3 300 215.7 300 150s0-102.3-23.9-126.1C252.3 0 215.7 0 150 0S47.7 0 23.9 23.9 0 84.3 0 150s0 102.3 23.9 126.1C47.7 300 84.3 300 150 300z'
  );
}

.root img {
  filter: var(--image-filter);
  display: block;
  width: var(--base-width);
  height: var(--base-width);
}

.root h1 {
  color: #f1ebd8;
  text-shadow: 0 0 6px #0c1817;
  position: absolute;
  z-index: 1;
  margin: 0;
  line-height: 1;
  bottom: 0;
  left: 0;
  font-size: 1.6rem;
  padding: 0.5rem;
  right: 0;
  text-align: center;
}

.theme {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
