.ThemeSwitcher-button {
  border: 0;
  background: transparent;
  appearance: none;
  user-select: none;
  font-size: 26px;
  text-align: center;
  cursor: pointer;
  padding: 0;
  outline: none;
}
.ThemeSwitcher-button:active .ThemeSwitcher-icon {
  transform: scale(0.8) translateY(100%);
}

.ThemeSwitcher-icon {
  display: block;
  transition: transform 0.1s linear;
}
