body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  line-height: 1.3;
}
html,
body,
#root {
  height: 100%;
}

a {
  text-decoration: none;
}

.light {
  color: #2c2d30;
  background: #fff;
}

.light a:link,
.light a:visited {
  color: #0576b9;
}

.light a {
  color: #086898;
}

.light a:active,
.light a:focus,
.light a:hover {
  color: #005e99;
}

.dark {
  color: #ffffffe0;
  background: #282c35;
}

.dark a:link,
.dark a:visited {
  color: #e88030;
}

.dark a {
  color: #ff9c52;
}

.dark a:active,
.dark a:focus,
.dark a:hover {
  color: #e68339;
}
