body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.3;
}
html,
body,
#root {
  height: 100%;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.light {
  color: #2c2d30;
  background: #fff;
}

.dark {
  color: #ffffffe0;
  background: #282c35;
}

.light a {
  color: #1264a3;
}
.light a:hover {
  color: #0b4c8c;
}

.dark a {
  color: #e88030;
}
.dark a:hover {
  color: #ff9c52;
}
