:root {
  --transition-options: ease-out 0.15s;
}

.light {
  --background: #f7f7f7;
  --text: #2c2d30;
  --caption: #747475;
  --link: #1264a3;
  --link-hover: #0b4c8c;
  --delimeter: #ddd;
  --image-filter: none;
}

.dark {
  --background: #282c35;
  --text: #ffffe0;
  --caption: #919191;
  --link: #e88030;
  --link-hover: #ff9c52;
  --delimeter: #505050;
  --image-filter: brightness(0.75);
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.3;
}
html,
body,
#root {
  height: 100%;
  color: var(--text);
  background: var(--background);
  transition: all var(--transition-options);
}

a {
  text-decoration: none;
  color: var(--link);
  transition: color var(--transition-options);
}
a:hover {
  text-decoration: underline;
  color: var(--link-hover);
}
